.home_container {
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
height: 90vh;
gap: 2em;
}
.home_container span {
  font-size: 1.7em;
}

.home_container h1  {
  font-size: 3em;
  text-transform: uppercase;
}

.home_container h2 {
  font-size: 2.5em;
  text-transform: uppercase;
}

.home_container p {
  font-size: 1.7em;
}