.organizations_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.organizations_text {
  text-align: left;
  padding: 2em;
  margin: 4em;
  width: 37em;
}

.organizations_carousel {
  cursor: grab;
  overflow: hidden;
  background: rgba(82, 55, 55, 0.124);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.369);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(82, 55, 55, 0.651);
  max-height: fit-content;
}

.organizations_inner_carousel {
  display: flex;
}

.organizations_text h3 {
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

.organizations_titles {
  min-width: 80vw;
  min-height: 77vh;
  font-size: 1.4em;
  padding: 1.5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.organizations_titles p {
  padding: 1em 0em;
}

.organizations_titles h4 {
  text-align: center;
  font-size: 2em;
  padding: 1em 0em;
}
.organizations_image {
  max-inline-size: 100%;
  block-size: auto;
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .organizations_text {
    width: 57em;
  }

  .organizations_container h3 {
    font-size: 2.5em;
  }

  .organizations_titles {
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 65vw;
  }

  .organizations_image {
    width: 85%;
  }
}

@media screen and (min-width: 1201px) {
  .organizations_text {
    width: 67em;
  }

  .organizations_container h3 {
    font-size: 2.5em;
  }

  .organizations_titles {
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 23vw;
    min-height: 57vh;
  }

  .organizations_image {
    width: 85%;
  }
}
