.regions_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regions_text {
  text-align: left;
  padding: 2em;
  width: 37em;
}

.regions_text h3 {
  font-size: 2em;
  text-align: center;
  padding: 1em
}

.regions_carousel {
  cursor: grab;
  overflow: hidden;
   background: rgba(82, 55, 55, 0.124);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.369);  
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(82, 55, 55, 0.651);
  max-height: fit-content;
}

.regions_inner_carousel {
  display: flex;
}

.regions_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   min-width: fit-content;
   min-height: 77vh; padding: 1em 1em;
  font-size: 1.5em;
  text-align: left;
;}


.regions_name h2 {
  text-align: center;
  font-size: 2em;
  padding: 0.2em 0em;
}

.regions_name p {
  font-size: 0.7em;
}

.regions_name h6 {
  font-size: 1.05em;
}

.regions_image {
  margin-top: 2em;
  max-inline-size: 100%;
    block-size: auto;
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .regions_text {
    width: 57em;
  }

  .regions_container h3 {
    font-size: 2.5em;
  }

  .regions_name {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 65vw;
  }

  .regions_image {
    width: 75%;
  }
}

@media screen and (min-width: 1201px) {
  .regions_text {
    width: 67em;
  }

  .regions_container h3 {
    font-size: 2.5em;
  }

  .regions_name {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 23vw;
  }

  .regions_image {
    width: 75%;
  }
}