.regions_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regions_names {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.regions_text {
  text-align: left;
  border: 3px solid red;
  padding: 2em;
  margin: 4em;
  width: 37em;
  background: rgba(82, 55, 55, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(82, 55, 55, 0.26);
}

.regions_text h3 {
  font-size: 2em;
  text-align: center;
  padding: 1em
}
.regions_text h2 {
  text-align: center;
  font-size: 3em;
  padding: 1em 0em;
}

.regions_text h6 {
  font-size: 1.4em;
}

.regions_image {
  max-inline-size: 100%;
    block-size: auto;
}